.wrapper {
  position: relative;

  .link {
    border-bottom: 4px solid transparent;

    &:hover {
      border-bottom: 4px solid $primary;
    }
  }

  .avatar {
    width: 50px;
    border: 2px solid transparent;
    border-radius: 50px;

    &:hover {
      border: 2px solid $primary;
    }
  }

  .cart {
    position: relative;

    .cartIcon {
      font-size: 1.3rem;
      color: $paragraph;
    }

    .badge {
      position: absolute;
      right: 8px;
      top: 0;
    }
  }

  .hr {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -0.5rem;
  }

  .card {
    position: absolute;
    right: 8rem;
    top: 5rem;
    border: none;
    border-radius: 0.8rem !important;
    width: 330px;
    overflow: hidden;

    .small {
      font-size: 0.7rem;
    }

    .binIcon {
      color: $paragraph;
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    position: relative;

    .avatar {
      width: 30px;
    }
  }
}
