@import "custom";

.image {
  border-radius: 1rem;
  border: 3px solid transparent;
  cursor: pointer;

  &.active {
    border: 3px solid $primary;
    filter: opacity(50%);
  }
}

.input-icon {
  color: $primary;
  cursor: pointer;

  &:hover {
    filter: opacity(70%);
  }
}

.span {
  text-align: center;
  background-color: $secondary;
}

.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
